* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
/* 1rem = 10px */
/* 100% = 16px*/
html {
  font-size: 62.5%;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --color-primary: #040427;
  --color-secondary: #ffffff;
  --color-crimson: #c70c31;
  --color-grey: #d3cece;
  --color-dark-gray: #a9a9a9;
  --color-black: #000000;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
.header {
  height: 100%;
  min-width: 100%;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 10000;
}
@media screen and (max-width: 600px) {
  .header {
    min-width: 100%;
  }
}
.header-navigation {
  padding: 2rem 2rem;
  max-width: 100%;
}

.header-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}
@media screen and (max-width: 650px) {
  .header-nav-list {
    gap: 1rem;
  }
}

.header-list-nav-item a {
  color: var(--color-secondary);
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s;
  font-weight: bolder;
}
.header-nav-list :hover {
  color: #5757eb;
}
/* hero-section-styling */
.hero-section {
  min-height: 60vh;
  max-width: 100%;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/header-backgrund.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.hero-title {
  color: var(--color-secondary);
  display: flex;

  flex-direction: column;
  align-items: center;
  line-height: 2;
}
.hero-main-title {
  font-family: var(--primary-font);
  text-transform: capitalize;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.4rem;
}

.hero-title2 {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-sub-title {
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: lighter;
  text-align: center;
}

/* end of hero-section-styling */
